.dropdown {
  position: relative;
  width: 250px;
  border: var(--border);
  border-radius: var(--border-radius);
}

.dropdown button {
  width: 100%;
  padding: var(--input-padding);
  text-align: left;
  color: var(--font-color-main);
}

.dropdown__select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown__content {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 100%;
  max-height: 240px;
  overflow-y: auto;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 10;
  display: none;
}

.dropdown--open .dropdown__content {
  display: block;
}

.dropdown-icon {
  transform-origin: center;
  transition: 0.25s ease-in-out;
}

.dropdown--open .dropdown-icon {
  transform: rotate(180deg);
}

.dropdown .search-wrap {
  display: flex;
  align-items: center;
  padding: var(--input-padding);
  border-bottom: var(--border);
  color: var(--font-color-main);
}

.dropdown__search {
  width: 90%;
  margin-left: 6px;
  color: var(--font-color-main);
}

.dropdown__list li:hover {
  background-color: var(--gray-1);
}
