.input-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--input-padding);
  color: var(--font-color-main);
  transition: 0.3s ease-in-out;
}

.input-wrap:focus-within {
  border-color: var(--font-color-main);
}

.input__label {
  display: block;
  font-size: 0.8rem;
  color: var(--font-color-light);
  padding: 4px 6px;
}

.input {
  width: 90%;
}

.input::placeholder {
  color: var(--gray-4);
}
.input::-webkit-input-placeholder {
  color: var(--gray-4);
}
.input:-moz-placeholder {
  color: var(--gray-4);
}
.input::-moz-placeholder {
  color: var(--gray-4);
}
.input:-ms-input-placeholder {
  color: var(--gray-4);
}

.email-icon {
  color: var(--bg-gray-main);
}

.email-icon--valid {
  color: var(--highlight-color);
}

.password-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-input + .single-input {
  margin-top: 1rem;
}
