.input__label {
  display: block;
  font-size: 0.8rem;
  color: var(--font-color-light);
  padding: 4px 6px;
}

.input {
  width: 250px;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--input-padding);
  color: var(--font-color-main);
}

.input-wrap + .input-wrap {
  margin-top: 1rem;
}
