@use '/src/styles/constants/colors';

.background {
  padding: 20px 10px 260px;
  background: colors.$GRAY1;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}
