.tabs {
  display: flex;
  justify-content: center;
  min-width: 340px;
  width: 90%;
  border-bottom: var(--border);
}

.tab {
  color: var(--font-color-light);
  font-weight: var(--font-weight-bold);
  padding: 1rem 0;
}

.tab--active {
  color: var(--highlight-color);
  box-shadow: inset 0px -4px 0px var(--highlight-color);
  transition: 0.3s ease-in-out;
}

.tab:not(.tab--active):hover {
  color: var(--font-color-main);
  transition: 0.2s ease-in-out;
}
