.tab-wrap {
  position: relative;
  min-width: 340px;
  width: 90%;
  border-bottom: var(--border-thick);
}

.tab {
  color: var(--font-color-light);
  font-weight: var(--font-weight-bold);
  padding: 1rem 0;
  transition: color 0.2s ease-in-out;
}

.tab__highlight {
  position: absolute;
  left: 0;
  height: 2px;
  background: var(--highlight-color);
  transition: transform 0.2s ease-in-out;
}

.tab--active {
  color: var(--highlight-color);
}

.tab:not(.tab--active):hover {
  color: var(--font-color-main);
}
