.main-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-height: 100vh;
  margin: 20px auto;
  padding-bottom: 300px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
