.main-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-height: 100vh;
  margin: 20px auto 260px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
}

.title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
