:root {
  --gray-0: #f8f9fa;
  --gray-1: #f1f3f5;
  --gray-2: #e9ecef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #868e96;
  --gray-7: #495057;
  --gray-8: #343a40;
  --gray-9: #212529;
  --highlight-color: #1098ad;
  --bg-gray-main: var(--gray-3);
  --bg-gray-light: var(--gray-0);
  --font-color-main: var(--gray-7);
  --font-color-light: var(--gray-6);
  --font-weight-bold: 700;
  --border: 1px solid var(--gray-3);
  --border-radius: 4px;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --toggle-height: 32px;
  --input-padding: 10px;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a[href],
button {
  cursor: pointer;
}
