.label-circle-wrap {
  transform: translateY(-13px);
}

.label-circle-wrap,
.label-button-wrap {
  display: flex;
  justify-content: space-between;
}

.label-circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--bg-gray-main);
}

.label-circle--active {
  background: var(--highlight-color);
}

.label-button {
  width: 2.8rem;
  padding: 4px;
  border-radius: 1rem;
  background: var(--bg-gray-main);
  font-size: var(--font-size-small);
  color: var(--font-color-main);
  transition: 0.3s ease-in-out;
}

.label-button:hover {
  background: var(--highlight-color);
  color: #fff;
}
